#container-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#img-logo {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#title-navbar {
    padding-left: 2em;
}

#text-footer {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3em;
}


#container-login {
    margin-top: 12em;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-login{
    border: 2px solid white;
    background-color: #09333F;
    color: white;
}

#btn-login a{
    /*border: 2px solid white;*/
    text-decoration: none;
    background-color: #09333F;
    color: white;
}


#container-dados {
    border: 1px solid #09333F;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 20em;
}

form {
    display: block;
    
}

form div {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;  
}
form input {
    margin-left: 5px;
    width: 200px;
    padding-left: 5px;
    height: 30px;
}

#titulo-form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

#btn-entrar {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-entrar button {
    width: 100%;
    background-color: #09333F;
}

#usuarioOnline{
    color: #00C2CB;
}

/*MEDIA QUERYS*/

@media (max-width: 316px){
    #title-navbar {
        visibility: hidden;
    }

    #usuarioOnline{
        visibility: hidden;
    }

    #container-navbar{
        height: 17em;
    }

    #container-navbar {
        flex-direction: column;
    }

    #container-login {
        margin-top: 20em;
        height: 16em;
    }
    #img-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em 0 1em 0;
    }

}
/*452px*/
@media (min-width: 316px) and (max-width: 577px) {
    #container-navbar{
        height: 17em;
    }

    #container-navbar {
        flex-direction: column;
    }

    #container-login {
        margin-top: 20em;
        height: 16em;
    }

    #container-dados{
        height: 16em; 
    }

    #img-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em 0 1em 0;
    }

    #title-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5em 0;
        padding: 0;
        text-align: center;
    }

    #login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
    }
}

@media (min-width: 577px) and (max-width: 799.99px) {

    #menu-config {
        margin-top: 100px;
        height: 50px;
    }


    #container-navbar {
        flex-direction: column;
    }

    #container-login {
        margin-top: 20em;
        height: 16em;
    }

    #container-dados{
        height: 16em; 
    }

    #img-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em 0 1em 0;
    }

    #title-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5em 0;
        padding: 0;
        text-align: center;
    }

    #login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
    }
}

@media (min-width: 800px) and (max-width: 1199.98px) {
    #title-navbar {
        text-align: center;
    }
}

@media (min-width: 1200px){
    #title-navbar {
        font-size: large;
    }
}