
#titulo-relatorio{
    text-align: center;
}

#mostrar-relatorio {
    border: 1px solid #09333F;
    margin-top: 2em;

}

#listaDeRelatorios{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}